<ion-app>
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <form class="ion-padding" (submit)="addTask()" #f="ngForm">
          <ion-item lines="full" class="ion-padding-bottom">
            <ion-label position="floating">タスク</ion-label>
            <ion-input
              type="text"
              [(ngModel)]="task"
              name="task"
              required minlength="3"
                       maxlength="20"
              ></ion-input>
          </ion-item>
          <ion-button expand="block" type="submit" [disabled]="!f.form.valid">追加</ion-button>
        </form>
        <ion-list>
          <ion-item *ngFor="let t of tasks">
            <ion-label>{{t.name}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
